@import './../variables.scss';

* {
  margin: 0;
  padding: 0;
}

.locations-gallery {
  margin: 0px 18%;
  background-color: $grey-background;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
  padding-top: 10px;
}

@media (max-width: 1024px) {
  .locations-gallery {
    margin: 0px 2%;
    background-color: white;
  }
}