@import './../variables.scss';

.location {
  margin: 0% 19%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';

  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .titles-and-tags {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      
      h1 {
        font-size: 36px;
        color: $main-color;
      }
      
    h2 {
      font-size: 18px;
      margin-top: 10px;
    }

    .tags {
      margin-top: 20px;

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
      }
      
      li {
        color: white;
        background-color: $main-color;
        padding: 5px 40px;
        border-radius: 10px;
        margin-right: 5px;
      }
    }
  }
}
  
  .host-and-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .host {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .host-name {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      p {
        font-size: 18px;
        color: $main-color;
      }

      img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        padding: 10px;
      }
    }

    .rating {
      img {
        height: 24px;
        margin-left: 7px;
      }
    }
  }

  .dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    
    .dropdown {
      width: 50%;
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }
    }

    ul {
      list-style: none;
      margin: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .location {
    .main-content {
      flex-direction: column
    }

    .host-and-rating {
      flex-direction: row-reverse;
      justify-content: space-between;

      .rating {
        margin-top: 35px;
      }
    }

    .titles-and-tags {
      .tags {
        ul {
          flex-wrap: wrap;
        }
      }
    }

    .dropdowns {
      flex-direction: column;
      align-items: center;
      margin-top: 0px;

      .dropdown {
        margin-right: 0;
        width: 110%;
      }
    }
  }
}