@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./../../assets/fonts/montserrat-v26-latin-regular.woff2') format('woff2');
}

$main-color: #FF6060;
$grey-background: #F6F6F6;